.tab-headings {
    float: right;
}

.editTabDiv {
    padding: 40px 15px 15px 15px;
}

.wrapper {
    padding-left: 0;
    padding-top: 70px;
}

/*-------survey summary-------*/

#sum-survey-name {
    font-size:18px;
}

#response-summary-panel {
    padding: 0px;
}

#sum-btn-td {
    padding: 0px;
}

#sum-name-div {
    padding-left: 30px;
    width: 200px;
    margin-right: 0;
    display: inline;
}

#sum-btn-div {
    padding-top: 15px;

}

    #sum-btn-div button {
        font-size: 13px;
    }

@media (min-width: 768px) {

    .summaryTopDiv {
        border-bottom: solid 1px #ddd;
    }

    .summaryRightDiv {
        border-left: solid 1px #ddd;
        padding: 15px 0px 15px 15px;
        right: 15px;
    }

    .summaryLeftDiv {
        padding: 15px;
        left: 15px;
    }
}

@media (max-width: 768px) {

    .summaryRightDiv, .summaryLeftDiv {
        margin: 15px;
        border-bottom: solid 1px #ddd;
        padding-bottom: 15px;
    }

    #sum2 {
        margin-bottom: 0px;
    }

    #sum4 {
        border-bottom: none;
        margin-bottom: 0px;
    }
}

/*-------collect survey responses-------*/

.collect-row {
    margin-top: 50px;
}

.email-input {
    margin-bottom: 5px;
    width: 100%;
}

@media (min-width: 768px) {
    #add-emails {
        float: right;
    }
}

@media (max-width: 768px) {
    #add-emails {
        float: left;
    }
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}


/*-------analyze survey responses-------*/

#filter-analyze-btns {
    margin: 0 auto;
    width: 206px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    #filter-analyze-btns button {
        margin-top: 3px;
        display: list-item;
    }
}

/*-------design survey--------*/

.category-accordion-headers {
    padding: 0;
}

#empty-design {
    background-color: #f5f5f5;
    z-index: 1;
    width: 100%;
    height: 300px;
    border-radius: 3px;
    border: 1px #ddd solid;
    position: relative;
}

#plus-sign-div {
    z-index: 10;
    margin: auto;
    position: absolute;
    width:450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

@media (max-width: 483px) {
    #plus-sign-div {
        width:200px;
    }
    #drag-in-question {
        font-size:20px;
    }
}


#inner-drag-in-div {
    margin: auto;
}

#drag-in-question {
    font-size: 35px;
}

.accordion-list {
    list-style:none;
    padding-left:0;
}

.accordion-types {
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px #ddd solid;
    width:100%;
    margin:4px;
    padding:4px;
    font-size:15px;
}

/*-------preview survey-------*/

.question-above-answers {
    padding-bottom: 7px;
    font-size: 1.25em;
}
