analyze page
<!--add badge of how many new responses-->

<!--
               Analyze Results
                   Left:
                       Filter
                       Compare
                       Show
                   Right:
                       Question Summaries
                       Data Trends
                       Individual Responses
                       -If havent sent it out:
                           Collect Responses
                       -If no responses:
                           Send Reminder
                           Show Expiration Date-->