<div class="row">
    <div class="col-sm-4">
        <uib-accordion close-others="true">
            <uib-accordion-group is-open="vm.status.isFirstOpen" is-disabled="vm.status.isFirstDisabled">
                <uib-accordion-heading>
                    <i aria-hidden="true" ng-class="{'fa fa-caret-down': vm.status.isFirstOpen, 'fa fa-caret-right': !vm.status.isFirstOpen}"></i>
                    Question Builder
                </uib-accordion-heading>
                <ul class="accordion-list">
                    <li ng-repeat="q in vm.questionTypes">
                        <div class="accordion-list-items">
                            <span id="{{q.id}}"></span> {{q.type}}
                        </div>
                    </li>
                </ul>
            </uib-accordion-group>
            <uib-accordion-group is-open="status.open" heading="Question Bank">
                <uib-accordion-heading>
                    <i aria-hidden="true" ng-class="{'fa fa-caret-down': status.open, 'fa fa-caret-right': !status.open}"></i>
                    <span class="accordion-headers">Question Bank</span>
                </uib-accordion-heading>
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="vm.accordionArray[$index]" ng-repeat="c in vm.categories track by $index">
                        <uib-accordion-heading class="category-accordion-headers">
                            <i aria-hidden="true" ng-class="vm.accordionArray[$index] ? 'fa fa-caret-down':'fa fa-caret-right'"></i>
                            {{c.name}}
                        </uib-accordion-heading>
                        <ul class="accordion-list">
                            <li ng-repeat="q in c.questions">
                                <div class="accordion-list-items">
                                    {{q.quest}}
                                </div>
                            </li>
                        </ul>
                    </uib-accordion-group>
                </uib-accordion>
            </uib-accordion-group>
        </uib-accordion>
    </div>
    <div class="col-sm-8">

        <!--------------WHEN NO QUESTION SELECTED---------------->
        <div ng-show="!vm.question" id="empty-design">
            <div id="plus-sign-div">
                <div id="inner-drag-in-div">
                    <i class="fa fa-plus-square-o fa-3x" aria-hidden="true"></i><span id="drag-in-question"> Choose a question type</span>
                </div>
                <br />
                <p> or choose a question from the Question Bank.</p>
            </div>
        </div>

    <!--------------WHEN NO QUESTION SELECTED---------------->

        <div ng-show="vm.question" id="add-or-edit">
            <question-type-directive 
                                     ng-if="vm.question" 
                                     answerChoices="vm.answerChoiceArray"
                                     matrixOptions="vm.matrixOptionsArray"
                                     ctrl="vm" 
                                     page-view="design" 
                                     survey-question="vm.question">
            </question-type-directive>
            <div class="row create-row-bottom">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <button class="btn btn-primary">Save</button>
                        <button class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    
    
    
    
   




    </div>
</div>