<div class="row">
    <div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Something here</h3>
            </div>
            <div class="panel-body">
                Something else here
            </div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Questions</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="question in vm.questions">
                        <td>
                            <div class="question-above-answers">
                                {{question.quest}}
                            </div>
                            <question-type-directive survey-question="question">
                            </question-type-directive>
                        </td>
                        <td>
                            <button class="table-btns"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                        </td>
                        <td>
                            <button class="table-btns"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>