<div class="wrapper container">
    <h2>Edit Survey</h2>
    <uib-tabset>
        <uib-tab class="tab-headings" heading="Analyze Results">
            <div ui-view="analyze" class="editTabDiv">
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Collect Responses">
            <div ui-view="collect" class="editTabDiv">          
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Design & Edit">
            <div ui-view="design" class="editTabDiv">             
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Summary">
            <div ui-view="summary" class="editTabDiv">             
            </div>
        </uib-tab>
    </uib-tabset>
</div>