<div class="wrapper container">
    <h2>Survey Name</h2>
    <uib-tabset>
        <uib-tab class="tab-headings" >
            <uib-tab-heading>
                Analyze Results  <span class="badge">4</span>
            </uib-tab-heading>
            <div ui-view="analyze" class="editTabDiv">
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Collect Responses">
            <div ui-view="collect" class="editTabDiv">          
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Design & Edit">
            <div ui-view="design" class="editTabDiv">             
            </div>
        </uib-tab>
        <uib-tab class="tab-headings" heading="Summary">
            <div ui-view="summary" class="editTabDiv">             
            </div>
        </uib-tab>
    </uib-tabset>
</div>