<div class="wrapper container">
    <h2>Login</h2>

    <fieldset>
        <ul>
            <li ng-repeat="error in vm.validationMessages">
                {{error}}
            </li>
        </ul>

        <form ng-submit="vm.login()">
            <fieldset class="form-group">
                <label>Email:</label>
                <input class="form-control" ng-model="vm.loginUser.email" />
            </fieldset>
            <fieldset class="form-group">
                <label>Password:</label>
                <input class="form-control" ng-model="vm.loginUser.password" />
            </fieldset>
            <input class="btn btn-primary form-control" type="submit" value="Login" />
        </form>
        <hr />
        <p>Not registered yet? <a href="/register">Register Here</a></p>
    </fieldset>
</div>